.inject-FormItem-vars() {
  --tvm-FormItem-label-text-color: var(--tvm-color-text, #191919);
  --tvm-FormItem-error-text-color: var(--tvm-color-error-text);
  --tvm-FormItem-error-border-color: var(--tvm-color-error-border);
  --tvm-FormItem-error-icon-color: var(--tvm-color-error-icon);
  --tvm-FormItem-error-bg-color: var(--tvm-color-error-bg-light);
}
